// compress:true

@color-pink: #f39bb2;
@color-yellow: #fbee5d;

html{
    background-color: #f5f5f5;
    color: #555;
}

.font-title{
    font-family: noworry, sans-serif;
}
.container{
    width: 96%;
    max-width: 960px;
    height: auto;
    margin: 0 auto;
}

.bg-white{
    background-color: #fff;
}
.padding{
    padding: 20px;
}

.mdl-layout__header{
    background: @color-pink;
}

.material-icons{
    position: relative;
    top: 4px;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

small{
    
    color: grey;
    
}

@media (max-width:600px){
    #canvas{
        width: 100%;
    }
}